doctype html
html
	head
		title= "TurboSync"
		script(src='https://code.jquery.com/jquery-3.2.1.min.js')
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(type='text/javascript' src='/javascripts/timing.js')
		script(type='text/javascript' src='/javascripts/animation.js')
	body
		div
			img(id='myImage2' src='/images/X.png')
			audio(id='firstOfAllAudio' src='/firstOfAll.mp3')
			button(id='firstOfAllBtn') Okay, First of All
		div
			img(id='myImage3' src='/images/X.png')
			audio(id='wrektAudio' src='/wrekt.mp3')
			button(id='wrektBtn') Rekt
		div
			img(id='myImage4' src='/images/X.png')
			audio(id='gotImAudio' src='/gotIm.mp3')
			button(id='gotImBtn') Got eeeem
		
		div
			img(id='myImage6' src='/images/X.png')
			audio(id='damageAudio' src='/damage.mp3')
			button(id='damageBtn') damage
		div
			img(id='myImage7' src='/images/X.png')
			audio(id='helloAudio' src='/hello.mp3')
			button(id='helloBtn') hello
