doctype html

html


	head
		title= "TurboSync"
		script(src='https://code.jquery.com/jquery-3.2.1.min.js')
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(type='text/javascript' src='/javascripts/audiofile.js')
		script(type='text/javascript' src='/javascripts/timing.js')
		script(type='text/javascript' src='/javascripts/animation.js')
	

	body
	


		div 
			img(id='audioimage' src='/images/X.png')
			audio(id='audio' src='/audio.mp3')
			<br>
			button(id='audioBtn') Play Recording
			<br>
			button(id='newTimings' onclick='getNewTimings()') Get New Audio timings
			

		

		
		<script>var originalAudiojson = !{JSON.stringify(originalAudio['mouthCues'])}; storeTimings(originalAudiojson);</script>
		
		
	
	
	
	<!-- function that gets updated jsonfile when  clicked on  newTimings button -->
		script.
			function getNewTimings(){
					 $.ajax({
					type: "POST",
					url: "/getUpdatedTimings",  //runs function on app.js file called newjson
					success: function(data){   
						//translating the json data retrieved from app.js
						var newJsonlAudio = (JSON.stringify(data.message['mouthCues']))
						newJsonlAudio = JSON.parse(newJsonlAudio);
						
						storeTimings(newJsonlAudio) //runs function on timing.js to store the json for later use
						
					

					}
					
				})			

			}
	
	



	